<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ping Pong BDD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <form action="/view_ping_pong">
            <div class="form-group">
                <label for="ending_number">Enter Ending Number:</label>
                <input type="number" id="ending_number" name="ending_number">
            </div>
            <button type="submit" class="btn btn-success">Go!</button>
        </form>
    </div>
</body>
</html>
